@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.add-memories-card-overlay {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 100%;
  height: 65vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-h {
  display: flex;
}
.card-h h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2rem;
  background-image: linear-gradient(135deg, #8a246f 10%, #9795d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close-button {
  display: flex;
  top: 25rem;
  left: -7rem;
  position: relative;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-item {
  margin-bottom: 15px;
}

.form-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: aliceblue;
  color: black;
  outline: none;
}

.card-img {
  position: relative;
  top: -20px;
}

.card-img img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.error{
 border: 1px solid red;
}
::file-selector-button {
  display: none;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .add-memories-card-overlay {
    top: 11px;
    left: -41px;
    height: 68vh;
    width: 34rem;
  }
  .close-button {
    top: 22rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .add-memories-card-overlay {
    top: 0;
    left: -11px;
    width: 20rem;
    height: 50vh;
  }
  .card-img {
    display: none;
  }
  .close-button {
    top: 27rem;
    width: 4rem;
    height: 4rem;
  }
}
