.moving-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: auto;
  gap: 1rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
  flex-shrink: 0;
  position: relative;
}

.imageGroup {
  display: grid;
  place-items: center;
}
.imageGroup img {
  object-fit: contain;
  width: 12rem;
  height: auto;
  border-radius: 0.5rem;
  opacity: 0.5;
  padding: 5px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.topToBottom {
  animation: moveTopToBottom 20s linear infinite;
}

.bottomToTop {
  animation: moveBottomToTop 20s linear infinite;
}

@keyframes moveTopToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveBottomToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .moving-div {
    width: 8rem;
  }
}
